* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Fredericka the Great";
  text-align: center;
  font-size: 3em;
  color: rgba(81, 81, 81, 0.9);
}

h2 {
  font-family: "Fredericka the Great";
  text-align: center;
  color: rgba(81, 81, 81, 0.9);
}

.action {
  cursor: pointer;
}

.authorsPaneItem {
  padding: 5px 20px;
  border-bottom: 1px solid rgba(150, 150, 150, 1.0);
}

.exportFileType {
  font-size: 130%;
}

.exportPaneItem {
  padding: 5px 20px;
  border-bottom: 1px solid rgba(150, 150, 150, 1.0);
}

.labelBlock {
  display: block;
  margin-bottom: 5px;
}

.labelInlineLeft {
  margin-right: 10px;
}

.labelInlineRight {
  margin-left: 10px;
}

.input_clue {
  text-align:center;
  font-size:0.9em;
  font-style: italic;
  margin-top:8px;
  color:rgba(100, 100, 100, 0.5);
}

.input_clue:hover {
  color:rgb(20, 20, 20);
}

.inputLongText {
  width: 60%;
  min-width: 300px;
}

.lastAdditionsItem {
  font-family: 'DM Mono';
  font-size: 85%;
  margin-bottom: 5px;
  text-align: center;
}

.paneActions {
  display: flex;
  padding: 5px 20px;
  background-color: rgba(100, 100, 100, 1);
  color: rgba(240, 240, 240, 1);
  font-family: 'Open Sans';
}

.paneActionsLabel {
  font-size: 85%;
}

.paneActionsRight {
  margin-left: auto;
}

.paneHeader {
  padding: 8px 20px;
  background-color: rgba(220, 220, 220, 0.9);
  color: rgba(100, 100, 100, 1);
  display: flex;
  border-bottom: 1px solid rgba(150, 150, 150, 1.0);
}

.paneHeaderActions {
  margin-left: auto;
}

.paneHeaderIcon {
  margin-right: 7px;
  font-size: 130%;
  color:rgb(150,150,150);
}

.paneHeaderTitle {
  font-family: "Open Sans";
}

.paneHeaderTitleSource {
  font-size: 80%;
}

.settingsItem {
  margin: 10px 0px;
}

.settingsSet {
  font-family: "Fredericka the Great";
  color: rgba(50, 50, 50, 1.0);
  margin-bottom: 20px;
}

.stockPaneItem {
  padding: 5px 20px;
  border-bottom: 1px solid rgba(150, 150, 150, 1.0);
}


#alltainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./images/background_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#authors {
  padding: 10px 0px;
  color: rgba(50, 50, 50, 1.0);
}

#authorsPane {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 20%;
  background-color: rgba(240, 240, 240, 1);
  overflow: hidden;
  border-radius: 0 15px 15px 0;
  visibility: hidden;
}

#export {
  padding: 10px 0px;
  color: rgba(50, 50, 50, 1.0);  
}

#exportPane {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 20%;
  background-color: rgba(240, 240, 240, 1);
  overflow: hidden;
  border-radius: 15px 0 0 15px;
  visibility: hidden;
}

#formatConfigurator {
  visibility: hidden;
  position: fixed;
  top: 0px; 
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 50px;
  background-color: rgba(240, 240, 240, 0.95);
}

#mainFocusContent {
  width: 60%;
  padding: 40px;
  background-color: rgba(240, 240, 240, 0.95);
  border-radius: 15px;
}

#mainFocusPane {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainInput {
  width: 56%;
  min-width: 200px;
  max-width: 900px;
  margin: 0 auto;
  height: 2em;
  border-radius: 0.8em;
  padding: 3px 10px;
  color: rgb(120, 120, 120);
}

#mainInput:focus {
  color: rgb(20, 20, 20);
}

#mainInput:hover {
  color: rgb(20, 20, 20);
}

#mainInterface {
  width: 100%;
  margin: 15vh auto 20px;
  text-align: center;
  position: relative;
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.9);
}

#settings {
  visibility: hidden;
  position: fixed;
  top: 0px; 
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 50px;
  background-color: rgba(240, 240, 240, 0.95);
}

#settingsList {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#stock {
  padding: 10px 0px;
  color: rgba(50, 50, 50, 1.0); 
}

#stockPane {
  position: absolute;
  bottom: 0px;
  background-color: rgba(240, 240, 240, 1);
  height: 20%;
  left: 20%;
  right: 20%;
  border-top: 2px solid rgba(220, 220, 220, 1);
  border-left: 2px solid rgba(220, 220, 220, 1);
  border-right: 2px solid rgba(220, 220, 220, 1);
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  visibility: hidden;
  z-index: 1;
}