* {
    margin: 0;
    box-sizing: border-box;
  }
  
  em {
    font-weight: 600;
  }
  
  fieldset {
    border-radius: 5px;
    border: 1px solid rgba(200, 200, 200, 0.9);
    width: 100%;
    margin-bottom: 10px;
  }
  
  h1 {
    font-family: "Fredericka the Great";
    text-align: center;
    font-size: 3em;
    color: rgba(81, 81, 81, 0.9);
    font-weight: 500;
  }
  
  h2 {
    font-family: "Fredericka the Great";
    text-align: center;
    color: rgba(70, 70, 70, 0.99);
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  h3 {
    color: rgba(50, 50, 50, 0.9);
  }
  
  legend {
    padding: 0 5px;
    font-family: 'EB Garamond';
    font-size: 115%;
  }
  
  table {
    padding: 0;
    margin: 0;
    outline: 0;
  }
    
  td {
    padding: 3px 10px;
  }
  
  th {
    text-align: left;
    font-family: 'DM Mono';
    color: rgba(240, 240, 240, 0.95);
    background-color: rgba(70, 70, 70, 0.9);
    font-size: 90%;
    padding: 3px 10px;
  }
